@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/colour" as *;

.nav {
    padding: 0 5vw;
    @include tablet {
        display: flex;
        justify-content: space-between;
    }
    @include padding-calc;
    &__title {
        display: flex;
        justify-content: center;
        @include tablet {
            
        }
        &-icon {
            padding: 1rem 0;
        }
    }
    &__block {
        position: relative;
        @include tablet {
            display: flex;
            align-items: center;
        }
    }
    &__subblock {
        @include tablet {
            margin-right: 1rem;
        }
        @include desktop {
            margin-right: 2rem;
        }
    }
    &__search {
        width: 70%;
        border: $mercury 1px solid;
        border-radius: 4px;
        padding: 0.5rem 0;
        background: url(../../assets/Icons/search.svg) no-repeat scroll 7px 7px, $alabaster;
        padding-left: 2rem;
        &:focus-visible {
            outline: 2px solid $bandsite-blue;
        }
        @include tablet {
            padding: 0.75rem 2rem;
            background-position: 0.7rem 0.7rem;
            background-size: 7.5%;
        }
    }

    &__upload {
        @include button-style;
        background: url(../../assets/Icons/upload.svg) no-repeat scroll 7px 7px, $bandsite-blue;
    }
    &__avatar {
        @include avatar;
        position: absolute;
        top: 0px;
        right: 0px;
        @include tablet {
            position: relative;
            margin-left: 1rem;
        }
        @include desktop {
            margin-left: 2rem;
        }
    }
}