@font-face {
    font-family: "Avenir Next";
    src: url("../../assets/Font/AvenirNextLTPro-Bold.otf") format("OpenType");
    font-weight: bold;
}

@font-face {
    font-family: "Avenir Next";
    src: url("../../assets/Font/AvenirNextLTPro-Regular.otf") format("OpenType");
    font-weight: normal;
}