@use "./vars" as *;
@use "./colour" as *;
@use "./fonts" as *;


@mixin text-detail($size, $height, $weight) {
    font-size: $size;
    line-height: $height;
    font-weight: $weight;
}

@mixin tablet {
    @media (min-width: $tablet) {
        @content;
    }
}

@mixin desktop {
    @media (min-width: $desktop) {
        @content;
    }
}

@mixin page-header {
    @include text-detail(1.5rem, 2rem, Bold);
    @include tablet {
        @include text-detail(2.0625rem, 2.75rem, Bold);
    }
}

@mixin section-header {
    @include text-detail(0.75rem, 1.25rem, Bold);
}

@mixin subheader {
    @include text-detail(0.8125rem, 1.125rem, Bold);
    @include tablet {
        @include text-detail(0.875rem, 1.375rem, Bold);
    }
}

@mixin body-copy {
    @include text-detail(0.8125rem, 1.125rem, normal);
    @include tablet {
        @include text-detail(0.875rem, 1.375rem, normal);
    }
}

@mixin labels-buttons {
    @include text-detail(0.75rem, 1.25rem, Bold);
    color: $white;
}

@mixin padding-calc {
    @include desktop {
        padding-left: calc((100% - #{$desktop})/2 + 128px);
        padding-right: calc((100% - #{$desktop})/2 + 128px);
    }
}

@mixin avatar {
    border-radius: 50%;
    height: 36px;
    width: 36px;
    background-image: url(../../assets/Images/Mohan-muruge.jpg);
    background-size: 157%;
    background-position: 14% 0%;
    @include tablet {
        height: 40px;
        width: 40px;
    }
}