@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/colour" as *;

.comments {
    &__block {
        display: flex;
        justify-content: space-between;
        max-width: 700px;
        border-bottom: 1px solid $mercury;
        @include desktop {
            border-bottom: none;
            border-top: 1px solid $mercury;
            padding-right: 2rem;
        }
        &--head {
            @include desktop {
                border-top: none;
            }
        }
    }
    &__subblock {
        width: 80%;
        @include tablet {
            display: flex;
            justify-content: space-between;
            width: 90%;
            align-items: flex-end;
            padding-bottom: 1rem;
        }
    }
    &__title {
        @include section-header;
        padding-bottom: 1rem;
    }
    &__avatar {
        @include avatar;
        position: relative;
        top: 24px;
        &--empty {
            background-image: none;
            background-color: $mercury;
            top: 16px;
        }
    }
    &__form {
        @include tablet {
            width: 435px;
        }
        &-lable {
            @include subheader;
            color: $silver;
        }
        &-field {
            box-sizing: border-box;
            width: 100%;
            height: 96px;
            background-color: $alabaster;
            border-radius: 4px;
            border: 1px solid $mercury;
            margin-top: 0.3rem;
            &:focus-visible {
                outline: 2px solid $bandsite-blue;
            }
            @include tablet {
                height: 36px;
                padding: 0.5rem 2px 2px 1rem;
            }
        }
        &-submit {
            @include button-style;
            background: url(../../assets/Icons/add_comment.svg) no-repeat scroll 7px 7px, $bandsite-blue;
            @include tablet {
                margin: 4px 0;
                margin-left: 0.5rem;
            }
        }
    }
}