@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/colour" as *;

.upload {
    &__title {
        @include page-header;
        border-top: $mercury 1px solid;
        margin: 0;
        padding: 1rem 5vw;
        @include desktop {
            @include padding-calc;
        }
    }
    &__block {
        margin: 0 5vw;
        @include tablet {
            padding: 2rem 0;
            border-top: $mercury 1px solid;
            border-bottom: $mercury 1px solid;
        }
        @include desktop {
            display: flex;
            justify-content: space-between;
            @include margin-calc;
        }
    }
    &__subtitle {
        @include section-header;
        color: $silver;
    }
    &__thumbnail {
        width: 288px;
        height: 288*0.55px;
        background-color: $mercury;
        border-radius: 4px;
        margin-bottom: 1rem;
    }
    &__form {
        @include desktop {
            width: 680px;
        }
        &-lable {
            @include section-header;
            color: $silver;
            padding-top: 1rem;
        }
        &-field {
            box-sizing: border-box;
            width: 100%;
            height: 96px;
            background-color: $alabaster;
            border-radius: 4px;
            border: 1px solid $mercury;
            margin-top: 0.3rem;
            &:focus-visible {
                outline: 2px solid $bandsite-blue;
            }
            @include tablet {
                padding: 0.5rem 2px 2px 1rem;
            }
            &--small {
                height: 36px;
                margin-bottom: 1rem;
            }
        }
        &-buttons {
            margin: 0 5vw;
            @include tablet {
                display: flex;
                flex-direction: row-reverse;
            }
            @include desktop {
                @include margin-calc;
            }
        }
        &-submit {
            @include button-style;
            background: url(../../assets/Icons/publish.svg) no-repeat scroll 7px 7px, $bandsite-blue;
        }
        &-cancel {
            @include button-style;
            background-color: transparent;
            color: $bandsite-blue;
        }
    }
}