@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/colour" as *;

.nav {
    padding: 0 1rem;
    @include tablet {
        display: flex;
        justify-content: space-between;
        padding: 0 5vw;
    }
    @include padding-calc;
    &__title {
        display: flex;
        justify-content: center;
        @include tablet {
            
        }
        &-icon {
            padding: 1rem 0;
        }
    }
    &__block {
        position: relative;
        @include tablet {
            display: flex;
            align-items: center;
        }
    }
    &__subblock {
        @include tablet {
            margin-right: 1rem;
        }
    }
    &__search {
        width: 70%;
        border: $Mercury 1px solid;
        border-radius: 4px;
        padding: 0.5rem 0;
        background: url(../../assets/Icons/search.svg) no-repeat scroll 7px 7px, $Alabaster;
        padding-left: 2rem;
        @include tablet {
            padding: 0.75rem 2rem;
            background-position: 0.7rem 0.7rem;
            background-size: 7.5%;
        }
    }

    &__upload {
        width: 100%;
        background: url(../../assets/Icons/upload.svg) no-repeat scroll 7px 7px, $BandSite-Blue;
        padding: 0.5rem 0;
        border-color: transparent;
        border-radius: 4px;
        margin: 1rem 0;
        @include labels-buttons;
        @include tablet {
            width: 158px;
        }
    }
    
    &__avatar {
        border-radius: 50%;
        height: 36px;
        width: 36px;
        background-image: url(../../assets/Images/Mohan-muruge.jpg);
        background-size: 157%;
        background-position: 14% 0%;
        position: absolute;
        top: 0px;
        right: 0px;
        @include tablet {
            height: 40px;
            width: 40px;
            position: relative;
            margin-left: 1rem;
        }
        @include desktop {
            margin-left: 2rem;
        }
    }
}